#content {
	width: 700px;
}

#banner {
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
}

#banner img {
	height: 200;
}

#menu {
	text-align: center;
	width: 100%;
	margin-bottom: 30px;
}

#post {
	width: 660px;
}