body {
	font-size: 0;
	background-color: #f0f0f0;
    font-family: 'Droid Sans', sans-serif;
}

::selection {
  background: #C9C9C9; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #C9C9C9; /* Gecko Browsers */
}

#bar {
    position: fixed;
    margin-top: -8;
    top: 0;
    height: 160px;
    background-color: white;
    margin-right: -8;
    margin-left: -8;
    width: 100%;
    z-index: 1;
}

#banner span {
	width: 41%;
}

#menu {
	position: relative;

	width: 100%;

	color: #4F95FF;
    text-align: right;
    padding-right: 20;
    
    font-size: 12px;

    height: 100px;
    box-shadow: 0px 3px 9px black;
    z-index: 1;


}

#menu img {
	height: 100px;
    padding-left: 20px;
    float: left;
}


#menu a {
	text-decoration: none;
	text-align: center;
}

#menu .button {
	display: inline-block;

	vertical-align: bottom;

	position: relative;

	background-color: white;

	width: 115px;
	height: 100px;
    
    color: #4F95FF;

	margin-right: 0px;
	margin-left: 0px;

	font-size: 13.5pt;
    
    border-bottom: 0px solid;

	transition: background-color 0.5s, border-bottom 0.5s;
    
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

#menu .button p {
	margin-top: 0;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

#menu .button:hover {
	background-color: #C9C9C9;
	transition: background-color 0.5s, border-bottom 0.5s;
}

#menu #buttons #geek:hover {
    border-bottom: 7px solid #99FFCC;
        
}

#menu #buttons #hipster:hover {
    border-bottom: 7px solid #CC99FF;
}

#menu #buttons #nerd:hover {
    border-bottom: 7px solid #99CCFF;
}

#menu a:visited {
	color: #4F95FF;
}

#menu .button:active {
	background-color: #C9C9C9;
} 

#menu #buttons {
    display: inline-block;
    margin-right: 20;
}

#menu #login-field {
    display: inline-block;

	vertical-align: bottom;

	position: relative;

	background-color: white;

	height: 100px;
    
    color: #4F95FF;
    text-align: left;
    
    font-size: 10pt;
    
    width: 250;
}

#menu #login-field hr {
    border:none !important;
 	color: none !important;
  	background-color: transparent !important;
    margin-bottom: -4;
}

#menu #login-field input[type=submit] {
    background-color: #e83855;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}
    
#menu #login-field input[type=submit]:hover {
    background-color: #f07a8e;
    color: white;
    width: 100%;
}

#menu #login-field input[type=text] {
    padding: 2;
    width: 150;
}

#menu #login-field input[type=password] {
    padding: 2;
    width: 150;
}

#menu #login-field #login-info {
    display: inline-block;
    position: absolute;
    right: 90px;
    bottom: 8px;

}

#menu #login-field #submit-button {
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: 29px;
}

#sub-menu {
	width: 100%;
	height: 60px;
	background-color: white;
	z-index: 0;
    text-align: center;
}

#sub-menu #buttons {
	font-size: 12pt;
	width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#sub-menu #buttons .button {
	display: inline-block;

	vertical-align: bottom;

	position: relative;

	background-color: white;

	width: 115px;
	height: 60px;
    
    color: #99CCFF;

	margin-right: 3%;
	margin-left: 3%;

	font-size: 12pt;

	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;

    border-bottom: 0px solid white;

    transition: border-bottom 0.3s, color 0.3s;
}

#sub-menu #buttons .button p {
    margin-top: 20
}

#sub-menu #buttons .button:hover {
	border-bottom: 60px solid #99CCFF;
    color: white;
	transition: border-bottom 0.5s, color 0.5s;
}

#content {
	position: relative;

	margin-left: auto;
	margin-right: auto;

	left: -8; /* fuck css */

	margin-top: 92;


	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;

	width: 0px;

	color: black;
}

#content h1 {
	font-size: 40pt;
	margin-bottom: -10px;
	margin-top: 5px;
	color: #4183E8;
}

#content h2 {
	font-size:35pt;
	margin-bottom: -10px;
	margin-top: 5px;
	color: #4183E8;
}

#content h3 {
	font-size:30pt;
	margin-bottom: -10px;
	margin-top: 5px;
	color: #4183E8;
}

#content h4 {
	font-size: 25pt;
	margin-bottom: -10px;
	margin-top: 5px;
	color: #4183E8;
}

#content h5 {
	font-size: 20pt;
	margin-bottom: -10px;
	margin-top: 5px;
	color: #4183E8;
}

#content hr {
	height: 2px;
	color: #4183E8;
	background-color: #4183E8;
	border-color: #4183E8;
	border: 0 none;
	margin-bottom: -5px;
}

#page {
	font-size: 12pt;
}

#footer {
	font-size: 12pt;
}

span.right {
	float: right;
}

span.left {
	float: left;
}

/*Posts*/

.post hr {
	border:none !important;
 	border-top:3px dashed #f00 !important;
 	border-color: white !important;
 	color: none !important;
  	background-color: transparent !important;
	height:1px !important;
}

.post {
	font-size: 12pt;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
    
    
}

.post .header {
	width: 100%;
	position: relative;
	display: inline-block;
}

.post a {
	text-decoration: none;
}

.post .content {
}

.post .content a {
	color: #FF4F6C;
	border-bottom: 1px dotted #F7778C;
}

.post .content a:hover {
	color: #F7778C;
	border-bottom: none;
}

.post .content a:visited {
	color: #FF4F6C;
}

.post .header .title {
	color: #FF4F6C;
	font-size: 25pt;
	float: left;
	margin-bottom: -5;
}

.post .header .title:hover {
	color: white;
}

.post .date {
	color: #FF4F6C;
	border-bottom: 1px dotted #FF4F6C;
	float: right;
	position: absolute;
	bottom: 0;
	right: 0;
}

.post .date:hover {
	border-bottom: none;
	bottom: 1;
}


